In [27]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df1 = pd.read_csv('CompanyX_EU.csv')

In [29]:
df1.head()

,Startup,Product,Funding,Event,Result,OperatingState
0,2600Hz,2600hz.com,NaN,Disrupt SF 2013,Contestant,Operating
1,3DLT,3dlt.com,$630K,Disrupt NYC 2013,Contestant,Closed
2,3DPrinterOS,3dprinteros.com,NaN,Disrupt SF 2016,Contestant,Operating
3,3Dprintler,3dprintler.com,$1M,Disrupt NY 2016,Audience choice,Operating
4,42 Technologies,42technologies.com,NaN,Disrupt NYC 2013,Contestant,Operating

In [36]:
df2= df1.Funding

In [37]:
def to_millions (df2):
    if df2.endswith('K'):
        return float(df2.rstrip('K')) / 1000.0
    else:
        return float(df2)
df2.head()

0      NaN
1    $630K
2      NaN
3      $1M
4      NaN
Name: Funding, dtype: object

In [25]:
def to_millions(s):
  if s.endswith('K'):
    return float(s.rstrip('K')) / 1000.0
  else:
    return float(s)